@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "poppins";
  font-style: normal;
  background: rgb(197, 168, 194);
}
nav {
  border-bottom: 1px solid gray;
  color: #fffafa;
  font-weight: 700;
  font-size: 28px;
  padding: 20px 100px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgb(128, 63, 128), rgb(231, 113, 231));
}
.todo-form,
.todo-list {
  display: flex;
  background: rgb(243, 234, 243);
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 50px auto;
  padding: 0 20px;
  border: 1px solid gray;
  border-radius: 10px;
}
.todo-form h1,
.todo-list h1 {
  font-size: 32px;
  background: rgb(243, 234, 243);
  color: rgb(59, 44, 59);
}
.todo-list p{
  color: gray;
  font-size: 24px;
  background: rgb(243, 234, 243);
}
.todo-form input {
  border-radius: 8px;
  border: 1px solid gray;
  padding: 10px 5px;
  font-size: 20px;
  background: rgb(243, 234, 243);
}
.todo-form button {
  color: #fff;
  padding: 10px 35px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  width: fit-content;
  margin: auto;
  margin-bottom: 15px;
  background: linear-gradient(90deg, rgb(128, 63, 128), rgb(231, 113, 231));
}
.todo-list .container {
  background: rgb(243, 234, 243);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}
.todo-list .container .card {
  border-radius: 8px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  font-size: 20px;
  background: rgb(243, 234, 243);
}
.todo-list .container .card button {
  color: #fff;
  padding: 6px 25px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  width: fit-content;
  background: linear-gradient(90deg, rgb(128, 63, 128), rgb(231, 113, 231));
}
p{
  background: linear-gradient(90deg, rgb(239, 129, 195), rgb(237, 187, 215));
}


.custom-progress-bar{
  background-color: purple !important;
}
.Toastify__toast-icon svg {
  fill: purple !important; /* Set the icon color to purple */
}
.custom-close{
  color: purple;
}